.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border: unset;
    border: 1px solid transparent;
    border-radius: 28px;
    gap: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 6px 12px;

    &.active {
        background-color: var(--primary-color);
        color: var(--light-color);
    }

    &.outline {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }

    &.only_icon {
        width: 51px;
        height: 51px;
        border-radius: 14px;
    }

    &.muted {
        background-color: #f0f0f0;
        color: #8A8E9B;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
}

.wrapper > h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.tag_item > h3 {
    text-transform: uppercase;
}