.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--light-color);
    z-index: 10;

    & section svg {
        font-size: 2.4rem;
        color: #D3D1D8;
    }
}

.active > svg {
    color: var(--primary-color) !important;
}

.cart {
    position: relative;

    &::after {
        content: attr(data-cart-number);
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 6px;
        background-color: var(--secondary-color);
        color: var(--light-color);
        top: -50%;
        right: -50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
    }

}