.wrapper {
    margin-top: var(--content-margin-top);
    margin-bottom: var(--content-margin-bottom);
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    & > article {
        display: flex;
        align-items: center;
        gap: 6px;
        
        & > h3:first-child {
            font-weight: 400;
        }
    }
}

li + li {
    margin-top: 12px;
}