.wrapper {
    position: absolute;
    top: 20%;
    width: 100%;
    left: 0;
    padding: var(--global-padding);

    & > h1 {
        margin-bottom: 24px;
    }
}

.button {
    height: 55px;
    width: 100%;
    margin-top: 24px;

    & > h3 {
        font-size: 1.6rem;
    }
}

.message_failed {
    margin-top: 24px;
    color: red;
    display: block;
}

.message_success {
    margin-top: 24px;
    color: green;
    display: block;
}