.wrapper {
    margin-top: var(--content-margin-top);
    margin-bottom: var(--content-margin-bottom);
}

.no_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;

    & > h3 {
        color: var(--primary-color);
        font-weight: 300;
        font-size: 2.4rem;
        margin-top: 12px;
    }

    & > button {
        margin-top: 12px;
        height: 45px;
    }
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > div {
        width: 50%;
        padding: 0px 6px;
        margin-bottom: 12px;
    }
}

.item {
    height: 150px;
    width: 100%;
}
